#include <behaviors.dtsi>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        my_mt: mod_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred"; // Важно для быстрой печати букв
            tapping-term-ms = <200>;
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q   &kp W   &kp E   &kp R   &kp T       &kp Y   &kp U   &kp I       &kp O   &kp P
&kp A   &kp S   &kp D   &kp F   &kp G       &kp H   &kp J   &kp K       &kp L   &kp SEMI
&my_mt LCTRL Z   &my_mt LSHIFT X   &kp C   &kp V   &kp B       &kp N   &kp M   &kp COMMA   &kp DOT &kp SLASH
        &kp CAPS &kp SPACE &mo 1            &mo 2   &kp LSHIFT &kp RALT
            >;
        };

        nav_layer {
            bindings = <
&kp LC(TAB) &kp LA(TAB) &kp LC(LALT)  &kp LGUI    &kp PSCRN   &kp ESC &kp HOME   &kp END      &kp BSPC    &kp DEL
&trans  &trans  &trans  &trans  &trans          &kp RET &kp UP   &kp DOWN     &kp LEFT      &kp RIGHT
&trans  &trans  &trans  &trans  &trans          &kp TAB &kp PG_UP  &kp PG_DN    &kp MINUS   &kp EQUAL
        &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };

        sym_num_layer {
            bindings = <
&kp N1  &kp N2  &kp N3  &kp N4  &kp N5      &kp N6     &kp N7  &kp N8   &kp N9   &kp N0
&trans  &trans  &trans  &trans  &kp F11     &kp F12    &trans  &trans   &trans   &trans
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5      &kp F6     &kp F7  &kp F8   &kp F9   &kp F10
        &trans  &trans  &trans              &trans  &trans  &trans
            >;
        };
    };
};