#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define NAV 1
#define SYM 2
#define FUN 3

/*
 * Key positions for combos (based on default_transform in lapka_wellum36.dtsi):
 *
 *  0  Q    1  W    2  E    3  R    4  T        18 Y    19 U    20 I    21 O    22 P
 *  5  A    6  S    7  D    8  F    9  G        23 H    24 J    25 K    26 L    27 ;
 * 10  Z   11  X   12  C   13  V   14  B        28 N    29 M    30 ,    31 .    32 /
 *             15 CAPS 16 SHFT 17 NAV        33 SYM   34 SPC   35 RALT
 */

/ {
    behaviors {
        my_mt: custom_mod_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&kp>;
        };

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <175>;
            hold-trigger-on-release;
            bindings = <&kp>, <&kp>;
        };
    };

    cond_layers {
        compatible = "zmk,conditional-layers";

        fun_layer {
            if-layers = <NAV SYM>;
            then-layer = <FUN>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp Q       &kp W       &kp E       &kp R       &kp T           &kp Y       &kp U       &kp I       &kp O       &kp P
                &hm LCTRL A &hm LGUI S  &hm LALT D  &hm LSHIFT F &kp G          &kp H       &hm RSHIFT J &hm RALT K &hm RGUI L  &hm RCTRL SEMI
                &kp Z       &kp X       &kp C       &kp V       &kp B           &kp N       &kp M       &kp COMMA   &kp DOT     &kp SLASH
                            &my_mt LCTRL CAPS  &kp LSHIFT  &mo NAV          &mo SYM     &kp SPACE   &kp RALT
            >;
        };

        nav_layer {
            bindings = <
                &none        &none        &none        &none        &kp ESC         &kp ESC     &kp HOME    &kp END     &kp BSPC    &kp DEL
                &kp LCTRL    &kp LSHIFT   &kp LALT     &kp LGUI     &kp RET         &kp RET     &kp LEFT    &kp DOWN    &kp UP      &kp RIGHT
                &none        &none        &none        &none        &kp TAB         &kp TAB     &kp PG_UP   &kp PG_DN   &none       &none
                            &trans       &trans       &trans                       &trans      &trans      &trans
            >;
        };

        sym_layer {
            bindings = <
                &kp EXCL    &kp AT      &kp HASH    &kp DLLR    &kp PRCNT       &kp GRAVE   &kp N7      &kp N8      &kp N9      &kp COLON
                &kp PLUS    &kp EQUAL   &kp UNDER   &kp MINUS   &kp CARET       &kp DQT     &kp N4      &kp N5      &kp N6      &kp N0
                &kp STAR    &kp AMPS    &kp PIPE    &kp BSLH    &kp TILDE       &kp SQT     &kp N1      &kp N2      &kp N3      &kp DOT
                            &trans      &trans      &trans                      &trans      &trans      &trans
            >;
        };

        fun_layer {
            bindings = <
                &kp F1      &kp F2      &kp F3      &kp F4      &kp F5          &kp F6      &kp F7      &kp F8      &kp F9      &kp F10
                &kp F11     &kp F12     &none       &none       &none           &none       &none       &none       &none       &none
                &none       &none       &none       &none       &none           &none       &none       &none       &none       &none
                            &trans      &trans      &trans                      &trans      &trans      &trans
            >;
        };
    };
};
